<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="assets/style/main.css")
  title Document
body
  header
  main
    #snow
    .counter
      .days
        .time.daystime
        .text.daystext
      .hours
        .time.hourstime
        .text.hourstext
      .minutes
        .time.minutestime
        .text.minutestext
      .seconds
        .time.secondstime
        .text.secondstext
  footer
script(type='text/javascript' src='../assets/js/counter.js')
  
